ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
li {
    float: left;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover {
    background-color: #111;
}


h1 {
    color: white;
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    background-color: darkslategray;
    font-size: 18px;
    color: white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: justify;
    position: center;
}

.img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-width: 10px; 
    border-color: white;
  }

.container {
  text-align: center;
  position: center;
  width: 500px;
}

.button-container {
    display: flex;
    justify-content: center;
  }

.button-linkedIn {
    background-color: paleturquoise;
    width: 250px;
    height: 50px;
    position: relative;
    top: 10px;
    left: 10px;
    color: darkslategray;
    font-size: 38px;
    border-width: 4px;
    border-color: black;
}

.button-Projects {
    background-color: paleturquoise;
    width: 250px;
    height: 50px;
    position: relative;
    top: 10px;
    right: 10px;
    color: darkslategray;
    font-size: 38px;
    border-width: 4px;
    border-color: black;
}
